@font-face {
  font-family: sans;
  src: url("./iran.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  direction: rtl;
  font-family: sans;
  font-size: 20px;
}

a {
  text-decoration: none;
}



.login-btn {
  color: rebeccapurple;
  border: 3px solid rebeccapurple;
  width: 200px;
  height: 40px;
}

.search-btn {
  background-color: rebeccapurple;
}
.search-btn:hover {
  background-color: rgb(90, 0, 174);
  transform: translateY(-5px);
}

.description {
  background: linear-gradient(
    90deg,
    rgb(13, 184, 227),
    rgb(181, 110, 247),
    rgb(86, 0, 165)
  );
}
.footer {
  background-color: rebeccapurple;
}



.reg-btn{
  color: #7749f8;
  border: 2px solid #7749f8;
  box-shadow: 0px 0px 141px -40px #7749f8;
}

.reg-btn:hover{
  color: #ffffff;
  border: 2px solid #7749f8;
  background-color: #7749f8;
  box-shadow: 0px 0px 141px -40px #7749f8;
}


.services-card1{
  background: url(/src/big-card1.jpg) no-repeat;
  background-size: cover;
}

.services-card2{
  background: url(/src/s-card-1.jfif) no-repeat;
  background-size: cover;
}

.services-card3{
  background: url(/src/s-card-2.jpg) no-repeat;
  background-size: cover;
}

.services-card4{
  background: url(/src/s-card-3.jpg) no-repeat;
  background-size: cover;
}

.services-card5{
  background: url(/src/s-card-4.jfif) no-repeat;
  background-size: cover;
}

body{
  overflow-x: hidden;
}

.fa-bars{
  padding-top: 15px;
}

.search-box{
  box-shadow: 10px 0px 80px -15px #7749f8;
  border: 2px solid #7749f8;

}

.banner-text{
  font-size: 18px;
}