.banner{
    background-color: black;
    /* height: 100vh; */

}
.login-btn{
    color: rebeccapurple;
    border: 3px solid rebeccapurple;
    width: 200px;
    height: 40px;
}

.search-btn{
    background-color: rebeccapurple;
}
.search-btn:hover{
    background-color: rgb(90, 0, 174);
    transform: translateY(-5px);
}

.description{
    background: linear-gradient(90deg, rgb(136, 55, 137),rgb(181, 110, 247), rgb(86, 0, 165));
}
.footer{
    background-color: rebeccapurple;
}
