@font-face {
  font-family: sans;
  src: url("./iran.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  direction: rtl;
  font-family: sans;
  font-size: 20px;
}

a {
  text-decoration: none;
}
