<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/mind_9548035.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>آزمون آخنباخ</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    />
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}" />
    <style>
        body {
            direction: rtl;
        }

        @font-face {
            font-family: "Anjomanweb VF";
            src: url("{{ url_for('static', filename='src/AnjomanwebGX.woff') }}") format("woff-variations"),
                 url("{{ url_for('static', filename='src/AnjomanwebGX.woff') }}") format("woff");
            font-display: fallback;
        }

        * {
            font-family: "Anjomanweb VF";
        }

        .question-container {
            display: none;
        }

        .question-container.active {
            display: block;
        }
    </style>
</head>
<body>
<div class="container py-3 rounded-4 shadow my-4">
    <div class="container">
        <form method="POST" id="quizForm">
            {% for question in questions %}
            <div class="p-3 mb-4 question-container {% if loop.index == 1 %}active{% endif %}" id="question_{{ loop.index }}">
                <span class="fs-3">سوال <span>{{ loop.index }}</span><span class="opacity-50">/113</span></span>
                <div class="mt-3">
                    <p class="p-2">
                        <span>{{ question.question_text }}</span>
                    </p>
                </div>

                <div class="my-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question.id }}" id="no_{{ question.id }}" value="no" required>
                        <label class="form-check-label" for="no_{{ question.id }}">خیر</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" checked type="radio" name="{{ question.id }}" id="sometimes_{{ question.id }}" value="sometimes">
                        <label class="form-check-label" for="sometimes_{{ question.id }}">بعضی مواقع</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question.id }}" id="yes_{{ question.id }}" value="yes">
                        <label class="form-check-label" for="yes_{{ question.id }}">بلی</label>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="d-grid mt-4">
                <button class="btn btn-primary" type="button" id="nextButton">سوال بعدی</button>
                <button class="btn btn-success d-none" type="submit" id="submitButton">ارسال</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let currentQuestion = 1;
        const totalQuestions = {{ questions|length }};
        const nextButton = document.getElementById('nextButton');
        const submitButton = document.getElementById('submitButton');

        nextButton.addEventListener('click', function() {
            const currentQuestionElement = document.getElementById('question_' + currentQuestion);
            const nextQuestionElement = document.getElementById('question_' + (currentQuestion + 1));

            const checkedOption = currentQuestionElement.querySelector('input[type="radio"]:checked');
            if (!checkedOption) {
                alert('لطفاً یک گزینه را انتخاب کنید.');
                return;
            }

            currentQuestionElement.classList.remove('active');

            if (currentQuestion < totalQuestions) {
                currentQuestion++;
                nextQuestionElement.classList.add('active');
            }

            if (currentQuestion === totalQuestions) {
                nextButton.classList.add('d-none');
                submitButton.classList.remove('d-none');
            }
        });
    });
</script>

</body>
</html>
