<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='mind_9548035.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حساب کاربری</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/bootstrap.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/User-style.css') }}">
    
    <style>
        @font-face {
            font-family: "Anjomanweb VF";
            src: url("{{ url_for('static', filename='src/AnjomanwebGX.woff') }}") format("woff-variations"),
                url("{{ url_for('static', filename='src/AnjomanwebGX.woff') }}") format("woff");
            font-display: fallback;
        }

        * {
            font-family: "Anjomanweb VF";
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="profile"><i class="fa-regular fa-user"></i> <span>{{ current_user.username }}</span> </a>
            </li>
            <li id="current_page">
                <a href=""><i class="fa fa-home"></i><p>پنل کاربری</p></a>
            </li>

            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#userInfoModal"><i class="fa-solid fa-edit"></i><p class="d-inline m-2">ویرایش اطلاعات</p></a>
            </li>
            <li><a href="{{ url_for('logout') }}"> <i class="fa-solid fa-arrow-right-from-bracket"></i><p class="d-inline m-2">خروج از حساب</p> </a></li>
        </ul>
    </nav>

    <div class="wrapper">
        <div class="container">
            <h3>پنل کاربری</h3>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="container mt-3">
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
            {% endwith %}
            <div class="number-of-quizes-box w-100 rounded-3">
                <div class="number-of-quizes-content">
                    <p>تعداد آزمون‌های انجام‌شده:</p>
                    <div class="number-of-quizes">
                        <span>{{ exam_count }}</span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    {% for result in exam_results %}
                    <div class="col-12 col-md-6 col-lg-4 gy-3">
                        <div class="card">
                            <div class="card-title mt-3 fs-3 fw-bold text-center">
                                آزمون {{ result.exam_type }}
                            </div>
                            <div class="card-body text-start">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <span class="titles">تاریخ:</span>
                                            <span class="ms-3 fs-5">{{ result.date_taken.strftime('%Y-%m-%d') }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn w-75 quiz-btn" data-bs-toggle="modal" data-bs-target="#resultModal{{ loop.index }}">
                                            مشاهده نتایج
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>

                    <div class="modal fade" id="resultModal{{ loop.index }}" tabindex="-1" aria-labelledby="resultModalLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="resultModalLabel{{ loop.index }}">نتایج آزمون {{ result.exam_type }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>تاریخ: {{ result.date_taken.strftime('%Y-%m-%d') }}</h6>
                                    <p>{{ result.interpretation | safe }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userInfoModal" tabindex="-1" aria-labelledby="userInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userInfoModalLabel">ویرایش اطلاعات کاربری</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('update_user_info') }}" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">ایمیل</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ current_user.email }}">
                        </div>
                        <div class="mb-3">
                            <label for="first_name" class="form-label">نام</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ current_user.first_name }}">
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">نام خانوادگی</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ current_user.last_name }}">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">شماره تلفن</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ current_user.phone }}">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">آدرس</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{ current_user.address }}">
                        </div>
                        <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <script>
      function showLoadingOverlay() {
        const overlay = document.getElementById('loading-overlay');
        overlay.style.opacity = '1'; 
        overlay.style.visibility = 'visible';
      }
    
      function hideLoadingOverlay() {
        const overlay = document.getElementById('loading-overlay');
        overlay.classList.add('fade-out');
    
        setTimeout(() => {
          overlay.style.display = 'none';
        }, 500); }
    
      function setLTRLayout() {
        document.body.style.direction = 'ltr'; 
        document.body.style.textAlign = 'left';
      }
    
      async function translatePage(language) {
        const elements = document.querySelectorAll("h1,title, h2, h3, h4, p, button, a, span, input, textarea");
        showLoadingOverlay();

        for (let element of elements) {
          if (element.tagName === 'INPUT' || element.tagName === 'TEXTAREA') {
            continue;
          }

          let childNodes = Array.from(element.childNodes);

          for (let child of childNodes) {
            if (child.nodeType === Node.TEXT_NODE) {
              let text = child.textContent.trim();

              if (text) {
                const cachedTranslation = localStorage.getItem(`${language}-${text}`);

                if (cachedTranslation) {
                  child.textContent = cachedTranslation;
                } else {
                  try {
                    const response = await fetch("/translate", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({
                        text: text,
                        target_language: language,
                      }),
                    });

                    const result = await response.json();

                    if (response.ok) {
                      child.textContent = result.translated_text;
                      localStorage.setItem(`${language}-${text}`, result.translated_text);
                    }
                  } catch (error) {
                    console.error("Error translating text:", error);
                  }
                }
              }
            }
          }

          if (element.tagName === 'INPUT' || element.tagName === 'TEXTAREA') {
            const placeholderText = element.placeholder;

            if (placeholderText) {
              const cachedPlaceholderTranslation = localStorage.getItem(`${language}-${placeholderText}`);

              if (cachedPlaceholderTranslation) {
                element.placeholder = cachedPlaceholderTranslation;
              } else {
                try {
                  const response = await fetch("/translate", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                      text: placeholderText,
                      target_language: language,
                    }),
                  });

                  const result = await response.json();

                  if (response.ok) {
                    element.placeholder = result.translated_text;
                    localStorage.setItem(`${language}-${placeholderText}`, result.translated_text);
                  }
                } catch (error) {
                  console.error("Error translating placeholder:", error);
                }
              }
            }
          }
        }

        setLTRLayout(); 
        hideLoadingOverlay(); 
      }

      function checkLanguageInSlug() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('lang')) {
          const language = urlParams.get('lang');
          translatePage(language);
        } else {
          hideLoadingOverlay();
        }
      }
    
      window.onload = checkLanguageInSlug;
    </script>
    
    <style>
      #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    
      #loading-spinner {
        position: absolute;
      }
    
      .fade-out {
        opacity: 0;
        visibility: hidden;
      }
    </style>
    
<div id="loading-overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; z-index: 9999;">
  <div id="loading-spinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

    <script src="{{ url_for('static', filename='src/bootstrap.min.js') }}"></script>
</body>
</html>
