<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar With Bootstrap</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/css/bootstrap.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-user"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">{{ session['username'] }}</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-home"></i>
                        <span>داشبورد</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>تنظیمات حساب</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-bar-chart"></i>
                        <span>مدیریت آزمون ها</span>
                    </a>
                </li>
                <li class="sidebar-item mt-3">
                    <a href="{{ url_for('logout') }}" class="sidebar-link">
                        <i class="lni lni-exit"></i>
                        <span>خروج از حساب</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="main p-3">
            <div class="text-center">
                <h1 class="text-white">
                    داشبورد
                    <!-- Add Quiz Icon -->
                    <a href="{{ url_for('add_quiz') }}" class="btn btn-primary ms-3">
                        <i class="lni lni-plus" style="font-size: 24px;"></i> افزودن آزمون
                    </a>
                </h1>

                <div class="container">
                    <div class="row">
                        <!-- User Count -->
                        <div class="col-12 col-md-6 col-lg-4 gy-5">
                            <div class="row justify-content-center">
                                <div class="col-8 w-60">
                                    <div class="blur text-white">
                                        <div class="text-start">
                                            <div class="row">
                                                <div class="col text-center mt-2">
                                                    <i class="lni lni-users card-icon"></i>
                                                </div>
                                                <div class="col text-center mt-3">
                                                    <p class="card-p">{{ user_count }}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center">
                                                <div class="col">
                                                    <p class="card-description">تعداد کاربران</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blur text-white mt-4">
                                        <div class="text-start">
                                            <div class="row">
                                                <div class="col text-center mt-2">
                                                    <i class="lni lni-hourglass card-icon"></i>
                                                </div>
                                                <div class="col text-center mt-2">
                                                    <p class="card-p">{{ quiz_count }}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center">
                                                <div class="col mt-2">
                                                    <p class="card-description">تعداد آزمون‌ها</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Question Count -->
                        <div class="col-12 col-md-6 col-lg-4 gy-5">
                            <div class="row justify-content-center">
                                <div class="col-8 w-5">
                                    <div class="blur text-white">
                                        <div class="text-start">
                                            <div class="row">
                                                <div class="col text-center mt-3">
                                                    <i class="lni lni-question-circle card-icon"></i>
                                                </div>
                                                <div class="col text-center mt-3">
                                                    <p class="card-p">{{ question_count }}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center">
                                                <div class="col">
                                                    <p class="card-description">تعداد کل سوالات</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blur text-white mt-4">
                                        <div class="text-start">
                                            <div class="row">
                                                <div class="col text-center mt-3">
                                                    <i class="lni lni-notepad card-icon"></i>
                                                </div>
                                                <div class="col text-center mt-3">
                                                    <p class="card-p">456</p> <!-- Placeholder for other data -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-center align-items-center">
                                                    <p class="card-description">آزمون های تکمیل شده</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- List of Quizzes -->
                        <div class="col-12">
                            <div class="card blur text-white">
                                <div class="card-title mt-3 fs-3 fw-bold">لیست آزمون‌ها</div>
                                <div class="card-body text-start">
                                    <ul class="list-group">
                                        {% for quiz in quizzes %}
                                            <li class="list-group-item">
                                                <h5>{{ quiz.title }}</h5>
                                                <p>{{ quiz.description }}</p>
                                                <p>مدت زمان: {{ quiz.time_limit }} دقیقه</p>
                                                <a href="{{ url_for('start_quiz', quiz_id=quiz.id) }}" class="btn btn-primary">مشاهده آزمون</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='admin_panel/script.js') }}"></script>
</body>

</html>
