<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage/css/Home-style.css') }}">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">{{ quiz.title }}</h1>
        <p>{{ quiz.description }}</p>

        <form action="{{ url_for('submit_quiz', quiz_id=quiz.id) }}" method="POST">
            {% for category in categories %}
            <div class="category my-4">
                <h3>{{ category.name }}</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                {% for question in category.questions %}
                <div class="question my-3">
                    <p>{{ question.text }}</p>
                    {% for option in question.options %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ option.id }}" id="option_{{ option.id }}" required>
                        <label class="form-check-label" for="option_{{ option.id }}">
                            {{ option.text }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">ارسال آزمون</button>
        </form>
    </div>
</body>
</html>
